#hitmiss-2{
	background-color: lightblue;
}
#hitmiss-3, #hitmiss-2{
	position:absolute;
  width:100%;
  top:0px;
	margin: 10px;
}
table{
	table-layout:fixed;
	width: 1000px;
	text-align: center;
}
td{
	border: 1px solid;
	height: 100px;
}
.controls{
	display: block;
	position:absolute;
  width:100%;
  bottom:0px;
}
.scores, .settings{
	display: flex;
	width: 100%;
}
.score, .sub_settings{
	flex: 1;
	border: 2px;
	text-align: center;
}

